.divider {
  margin: 20px 0 10px 0;
  background-color: #ccc;
  height: 1px;
  width: 100%;
}

.github-profiles__no-data {
  text-align: center;
  padding: 150px 50px 50px 50px;
  user-select: none;
}
